
  <div id="header" class="row justify-content-md-center">
    <h1>Sweet Good News</h1>
  </div>
  <div id="header" class="row justify-content-md-center">
    <h2>HuffPost Good News Mongo Scraper</h2>
  </div>
  <br>
  <div id="wrapper">
    <div id="articles">
      {{#each articles}}
        {{#if saved}}
          <h3>{{title}}</h3>
          <button class="delete btn btn-danger" data-id="{{id}}"> Delete this article! </button>
          <br>
          <a href={{link}}>Link</a>
          <p>{{summary}}</p>
          {{#each note}}
            <p>Comment: {{body}}</p>
              <button type="button" class="delComment btn btn-warning" data-id="{{id}}">Delete this comment!</button>
          {{/each}}
          <form class="comment" data-id="{{id}}">
            <div class="form-group">
              <label for="note">Leave some comment!</label>
              <textarea class="form-control" class="body" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        {{/if}}
      {{/each}}
    </div>
  </div> 

</div>

       <!-- Submit Button -->
      <div class="row">
        <div class="input-field">
        <center><input class="btn add-comment-button pink lighten-1" type="submit" value="Submit"></center>
        </div>
      </div>
    </form>
</div>

{{!-- comments go here --}}
<div class="row">
  <div class="col s2"></div>
    <div class="col s8">
      <h5>Comments:</h5>
        {{#if article.comment}}
          {{#each article.comment}}
            <div class="card">
              <p id="nameComment">{{name}}</p>
              <p>{{body}}<p>
            </div>
          {{/each}}
          {{else}}
          <p>No Comments Yet.</p>
        {{/if}}
    </div>
</div>

