<br>
<br>
<div>
    <h3 class="card z-depth-3 center-align" style="border-radius:15px 50px">Find latest information from Kotaku</h3>
    <br>
    <div class="row">
        <div class="center-align">
        <h5>Read the latest articles in the gaming world!</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left align">
        {{#each article}}
        <div class="card-panel">
            <h4>{{this.title}}</h4>
            <p>{{ this.id}}. {{this.article}}</p>
            <form action="/{{this.id}}?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
					<button type="submit">Delete Articles</button>
            </form>
            </p>
            {{!-- <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">Read Article</a> --}}
        </div>
        {{/each}}
    </div>
</div>

<h2>Create Articles</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Articles!</button>
</form>

<h2>Update Articles</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="plan" placeholder="plan"></textarea>
	<button type="submit">Update Articles!</button>
</form>
